{block content}
	<h1 n:block="title">Мой блог</h1>

	<table class="iksweb">
		<tbody>
			<tr n:foreach="$elements as $element" class="">
				<td>{$element->title}</td>
				
			</tr>
		</tbody>
	</table>
		
	</div>

{/block}