{block content}
	<h1 n:block="title">Мой блог</h1>

	<table class="iksweb">
		<tbody>
			<tr n:foreach="$users as $item" class="">
				<td>{$item->first_name} {$item->last_name}</td>
				<td>{$item->birth_date|date:'j. n. Y'}</td>
				<td>{$item->gender}</td>
				<td>{$item->email}</td>
				<td>{$item->phone}</td>
				<td>{$item->role}</td>
			</tr>
		</tbody>
	</table>
		
	</div>

{/block}