<html>
<head>
	<meta charset="utf-8">
	<title>Закупки</title>
	<style>
	body {
		background-color: #eeeeee;
	}
	.content {
		padding: 10px;
	}
	a {
		text-decoration: none;
		color: #424242;
	}
	</style>
</head>
<body>
	<div class="content">
		<p>Напоминание о покупке элемента <b>{$element_title|capitalize}</b>.</p>
		<p>Дата приема назначена на <b>{$date_from|date:'j.n.Y'}</b> для пользователя <b>{$user_name}</b></p>
		<p><a href="http://medcalendar.fvds.ru">www.medcalendar.fvds.ru</a></p>
	</div>
</body>
</html>



