<html>
<head>
	<meta charset="utf-8">
	<title>Окончание приема</title>
	<style>
	body {
		background-color: #ffebee;
	}
	.content {
		padding: 10px;
	}
	a {
		text-decoration: none;
		color: #424242;
	}
	.end_element {
		color: red;
	}
	</style>
</head>
<body>
	<div class="content">
		<p><span class="end_element"><b>{$date_to|date:'j.n.Y'}</b> закончить прием элемента</span> <b>{$element_title|capitalize}</b></p>
		<p><a href="http://medcalendar.fvds.ru">www.medcalendar.fvds.ru</a></p>
	</div>
</body>
</html>



