services:
	- App\Router\RouterFactory::createRouter
	- App\Model\LocalAuthenticator
	- App\Console\EmailCronCommand



search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade


extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)





